body {
  font-family: Roboto, sans-serif;
}

.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}
.ant-layout {
  min-height: 100vh;
}
.ant-layout-sider {
  flex: 0 0 250px !important;
  max-width: 250px !important;
  min-width: 250px !important;
  width: 250px !important;
}
.ant-layout-sider-collapsed {
  flex: 0 0 80px !important;
  max-width: 80px !important;
  min-width: 80px !important;
  width: 80px !important;
}
.sm-logo {
  display: none;
}

.ant-layout-sider-collapsed .sm-logo {
  display: block;
}
.ant-layout-sider-collapsed .lg-logo {
  display: none;
}
.logo {
  background-color: #ffd333;
  margin: 0;
  height: 64px;
}
main {
  height: 85vh;
  overflow-y: scroll;
  background-color: transparent !important;
}
main::-webkit-scrollbar {
  width: 0px;
}
.ant-menu-title-content {
  font-size: 16px;
}
.ant-layout-header h5 {
  line-height: 20px;
  font-size: 14px;
}
.ant-layout-header p {
  line-height: 20px;
  font-size: 13px;
}
.ant-layout-header div .badge {
  top: 16px;
  right: -6px;
}
.error {
  color: red;
  font-size: 12px;
}

.filter {
  display: flex;
  justify-content: flex-end;
}

.table-body {
  padding: 20px;
}

table.table {
  font-size: 0.9rem;
  white-space: nowrap;
}

th {
  font-weight: 500;
  font-size: 0.8rem;
  border: 0;
}
thead {
  background: #f9fafb;
  color: #101828;
  text-transform: uppercase;
  border: 1px solid #c4c7db;
}
.pagination-filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 991px) {
  .pagination-filter {
    flex-direction: column;
    justify-content: center;
  }
  .pagination-filter .select {
    margin-bottom: 15px;
  }
  .pagination-filter .infos {
    margin-top: 15px;
  }
}

.pagination-filter .select select {
  border: 1px solid #c4c7db;
  outline: 0;
  height: 38px;
  border-radius: 4px;
  padding-left: 5px;
  margin-right: 5px;
  color: #333;
}

.pagination-filter .select span {
  color: #333;
  font-size: 0.9rem;
}

.pagination-filter .main-pagination {
  display: flex;
  align-items: center;
}

.main-pagination{
  display: flex;
  gap: 5px;
}
.active{
  background-color: blue;
  color: white;
  border: 1px solid blue;
}
@media (max-width: 991px) {
  .pagination-filter .main-pagination .keys {
    display: none;
  }
}

.pagination-filter .main-pagination button {
  outline: 0;
  margin: 0 8px;
  background: #fff;
  padding: 5px 14px;
  border-radius: 3px;
}

.pagination-filter button {
  background: blue;
  color: #fff;
}

 .infos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  padding: 10px 30px;
  border-radius: 4px;
}

.pagination-filter .infos p {
  margin: 0;
  padding: 0;
  color: #666666;
  font-size: 0.8rem;
  font-weight: 600;
}
